---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

{% assign current_post_category = page.categories | first %}

{% if site.posts.size > 1 and current_post_category %}
  <section class="post-list">
    <h2 class="post-list-heading">{{ site.data.labels.posts | default: 'Related Posts' }}</h2>
    <ul>
      {% assign current_post_url = page.url %}
      {% assign count = 0 %}

      {% for post in site.posts limit: 2 %}
        {% if post.url != current_post_url and post.categories contains current_post_category and count < 5 %}
          <li>
            <span class="post-meta">{{ post.date | date: site.date_format }}</span>
            <h3 class="post-link">
              <a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h3>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </li>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}


{% if site.posts.size > 1 %}
  <section class="post-list">
    <h2 class="post-list-heading">{{ site.data.labels.posts | default: 'Latest Posts' }}</h2>
    <ul>
      {% assign current_post_url = page.url %}
      {% for post in site.posts limit: 5 %}
        {% if post.url != current_post_url %}
          <li>
            <span class="post-meta">{{ post.date | date: site.date_format }}</span>
            <h3 class="post-link">
              <a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h3>
            <p class="post-excerpt">{{ post.excerpt }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}

